In [63]:
import pandas as pd
from sklearn import linear_model

# import the data

In [64]:
# Read in the CSV file and convert "?" to Nan
# if there is no headers in csv, define the headers firts
headers=["Assignment", "Miles", "Numbers", "Time"]
# df_raw = pd.read_csv("../DataSet/Delivery.csv", header=None, names =headers,  na_values = "?")
df_raw = pd.read_csv("../DataSet/Delivery.csv",skiprows=1, header=None,names=headers, na_values = "?")
df_raw

   Assignment  Miles  Numbers  Time
0           1    100        4   9.3
1           2     50        3   4.8
2           3    100        4   8.9
3           4    100        2   6.5
4           5     50        2   4.2
5           6     80        2   6.2
6           7     75        3   7.4
7           8     65        4   6.0
8           9     90        3   7.6
9          10     90        2   6.1

In [65]:
# Take a quick look at all the values in the data
df_raw.describe()

       Assignment     Miles    Numbers       Time
count    10.00000   10.0000  10.000000  10.000000
mean      5.50000   80.0000   2.900000   6.700000
std       3.02765   19.5789   0.875595   1.629588
min       1.00000   50.0000   2.000000   4.200000
25%       3.25000   67.5000   2.000000   6.025000
50%       5.50000   85.0000   3.000000   6.350000
75%       7.75000   97.5000   3.750000   7.550000
max      10.00000  100.0000   4.000000   9.300000

In [66]:
# x = df_raw.iloc[:,1:3]
x = df_raw[["Miles","Numbers"]]
x

   Miles  Numbers
0    100        4
1     50        3
2    100        4
3    100        2
4     50        2
5     80        2
6     75        3
7     65        4
8     90        3
9     90        2

In [67]:
y = df_raw["Time"]
y

0    9.3
1    4.8
2    8.9
3    6.5
4    4.2
5    6.2
6    7.4
7    6.0
8    7.6
9    6.1
Name: Time, dtype: float64

In [73]:
reg = linear_model.LinearRegression(fit_intercept=True)

In [75]:
reg.fit(x,y)

LinearRegression()

In [79]:
reg.coef_

array([0.0611346 , 0.92342537])

In [81]:
reg.intercept_

-0.8687014667817126

In [84]:
y_hat = reg.predict(x)
y_hat

array([8.93845988, 4.95830457, 8.93845988, 7.09160915, 4.03487921,
       5.86891717, 6.48666954, 6.79874892, 7.40368852, 6.48026316])

In [88]:
x_pred = [[102, 6]]
y_pred = reg.predict(x_pred)
y_pred

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([10.90757981])