In [1]:
import pandas as pd
from sklearn import linear_model

# import the data
csv file add categoeritical data

In [47]:
# Read in the CSV file and convert "?" to Nan
# if there is no headers in csv, define the headers firts
headers=["Assignment", "Miles", "Numbers","VehicleType", "Time"]
# df_raw = pd.read_csv("../DataSet/DeliveryCategory.csv", header=None, names =headers,  na_values = "?")
df_raw = pd.read_csv("../DataSet/DeliveryCategory.csv",skiprows=1, header=None,names=headers, na_values = "?")
df_raw

   Assignment  Miles  Numbers  VehicleType  Time
0           1    100        4            1   9.3
1           2     50        3            0   4.8
2           3    100        4            1   8.9
3           4    100        2            2   6.5
4           5     50        2            2   4.2
5           6     80        2            1   6.2
6           7     75        3            1   7.4
7           8     65        4            0   6.0
8           9     90        3            0   7.6
9          10     90        2            0   6.1

In [48]:
# Take a quick look at all the values in the data
df_raw.describe()

       Assignment     Miles    Numbers  VehicleType       Time
count    10.00000   10.0000  10.000000    10.000000  10.000000
mean      5.50000   80.0000   2.900000     0.800000   6.700000
std       3.02765   19.5789   0.875595     0.788811   1.629588
min       1.00000   50.0000   2.000000     0.000000   4.200000
25%       3.25000   67.5000   2.000000     0.000000   6.025000
50%       5.50000   85.0000   3.000000     1.000000   6.350000
75%       7.75000   97.5000   3.750000     1.000000   7.550000
max      10.00000  100.0000   4.000000     2.000000   9.300000

## Vehicle type is categoeritical data, Vectorize

In [61]:
def dataVector(df:pd.DataFrame ) ->pd.DataFrame :
    df_temp = df.copy(deep=True)
    df_temp["salon"] = 0
    df_temp["suv"] = 0
    df_temp["truck"] = 0
    for index, row in df_temp.iterrows():
        if (row['VehicleType'] == 0):
            df_temp.loc[index,'salon'] =1
        elif (row['VehicleType'] == 1):
            df_temp.loc[index,'suv'] =1
        elif (row['VehicleType'] == 2):
            df_temp.loc[index,'truck'] =1
    return df_temp[['Miles','Numbers','salon','suv','truck']]
    
x_dummy = dataVector(df_raw)
x_dummy

   Miles  Numbers  salon  suv  truck
0    100        4      0    1      0
1     50        3      1    0      0
2    100        4      0    1      0
3    100        2      0    0      1
4     50        2      0    0      1
5     80        2      0    1      0
6     75        3      0    1      0
7     65        4      1    0      0
8     90        3      1    0      0
9     90        2      1    0      0

In [62]:
y = df_raw["Time"]
y

0    9.3
1    4.8
2    8.9
3    6.5
4    4.2
5    6.2
6    7.4
7    6.0
8    7.6
9    6.1
Name: Time, dtype: float64

In [63]:
reg = linear_model.LinearRegression(fit_intercept=True)

In [64]:
reg.fit(x_dummy,y)

LinearRegression()

In [65]:
reg.coef_

array([ 0.0536575 ,  0.76097698, -0.24959948,  0.58029384, -0.33069437])

In [66]:
reg.intercept_

0.13442822384428066

In [67]:
y_hat = reg.predict(x_dummy)
y_hat

array([9.12437956, 4.85063448, 9.12437956, 6.69143739, 4.00856261,
       6.52927569, 7.02196519, 6.41647389, 6.99693431, 6.23595733])

In [73]:
x_pred_data =pd.DataFrame({'Miles':[105,95],
                      'Numbers':[3,4],
                     'VehicleType':[0,1]})
x_pred = dataVector(x_pred_data)
print('x_pred')
print( x_pred)
y_pred = reg.predict(x_pred)
print('y_pred')
print( y_pred)

x_pred
   Miles  Numbers  salon  suv  truck
0    105        3      1    0      0
1     95        4      0    1      0
y_pred
[7.80179674 8.85609208]